<%- include("header") -%>

<h2>This is an about page</h2>
<p>testing about page</p>
<p>testing about page</p>
<p>testing about page</p>
<p>testing about page</p>
<p>testing about page</p>
<p>testing about page</p>
<p>testing about page</p>
<p>testing about page</p>



<%- include("footer") -%>